.icon-email {
	background: url(../img/email.png) no-repeat;
	width: 19px;
	height: 15px;
	background-position: 0 0;
}
.icon-email-footer {
	background: url(../img/icon-email-footer.png) no-repeat;
	width: 21px;
	height: 17px;
}
.icon-zoom {
	background: url(../img/zoom.png) no-repeat;
	width: 20px;
	height: 20px;
}
.icon-schedule {
	background: url(../img/schedule.png) no-repeat;
	width: 19px;
	height: 19px;
}
.icon-calculator {
	background: url(../img/calculator.png) no-repeat;
	width: 17px;
	height: 18px;
}
.icon-menu-arrow-right {
	background: url(../img/icon-menu-arrow-right.png) no-repeat;
	width: 17px;
	height: 9px;
}
.icon-map {
	background: url(../img/icon-map.png) no-repeat;
	width: 22px;
	height: 28px;
}
.icon-ex-white-14 {
	background: url(../img/ex-white-14.png) no-repeat;
	width: 14px;
	height: 14px;
}
.icon-schedule-22 {
	background: url(../img/icon-schedule.png) no-repeat;
	width: 22px;
	height: 22px;
}
.arrow-right-21x10 {
	background: url(../img/arrow-right-21x10.png) no-repeat;
	width: 21px;
	height: 10px;
}
.play-button {
	background: url(../img/play-button.png) no-repeat;
	width: 20px;
	height: 20px;
}
.icon-roll {
	background: url(../img/roll.png) no-repeat;
	width: 18px;
	height: 19px;
}
.arrow-14x6-black-blue-white {
	background: url(../img/arrow-14x6-black-blue-white.png) no-repeat 0 0;
	width: 14px;
	height: 6px;
}
.arrow-right-26x13 {
	background: url(../img/arrow-right-26x13.png) no-repeat 0 0;
	width: 26px;
	height: 13px;
}
.arrow-right-18x9 {
	background: url(../img/arrow-right-18x9.png) no-repeat 0 0;
	width: 18px;
	height: 9px;
}
.icon-info {
	background: url(../img/info.png) no-repeat 0 0;
	width: 23px;
	height: 23px;
}
.icon-slick-arrow-left {
	background: url(../img/slick-arrows.png) no-repeat 0 0;
	width: 38px;
	height: 19px;
	background-size: 200% 200% !important;
}
.icon-slick-arrow-right {
	background: url(../img/slick-arrows.png) no-repeat -38px 0;
	width: 38px;
	height: 19px;
	background-size: 200% 200% !important;
}
.check-blue-15x12 {
	background: url(../img/check-blue-15x12.png) no-repeat 0 0;
	width: 15px;
	height: 12px;
}
.icon-quote {
	background: url(../img/quote.png) no-repeat 0 0;
	width: 139px;
	height: 100px;
}
.icon-angle-down {
	background: url(../img/icon-angle-down_9x4.png) no-repeat 0 0;
	width: 9px;
	height: 4px;
}
.angle-right-7x11 {
	background: url(../img/angle-right-7x11.png) no-repeat 0 0;
	width: 7px;
	height: 11px;
}
.icon-eye {
	background: url(../img/icon-eye.png) no-repeat 0 0;
	width: 16px;
	height: 14px;
}
.zoom-in {
	background: url(../img/zoom-in.png) no-repeat 0 0;
	width: 34px;
	height: 34px;
}
.icon-clip {
	background: url(../img/icon-clip.png) no-repeat 0 0;
	width: 14px;
	height: 26px;
}
.arrow-right-15x8 {
	background: url(../img/arrow-right-15x8.png) no-repeat 0 0;
	width: 15px;
	height: 8px;
}
.icon-video {
	background: url(../img/icon-video.png) no-repeat 0 0;
	width: 115px;
	height: 115px;
}
.icon-upload {
	background: url(../img/icon-upload.png) no-repeat 0 0;
	width: 26px;
	height: 18px;
}
.icon-phone {
	background: url(../img/icon-phone.png) no-repeat 0 0;
	width: 15px;
	height: 15px;
}
.iremont-1 {
	background: url(../img/iremont-1.png) no-repeat 0 0;
	width: 29px;
	height: 33px;
}
.iremont-2 {
	background: url(../img/iremont-2.png) no-repeat 0 0;
	width: 17px;
	height: 37px;
}
.angle-down--11x5 {
	background: url(../img/angle-down--11x5.png) no-repeat 0 0;
	width: 11px;
	height: 5px;
}
.check-white_21x16 {
	background: url(../img/check-white_21x16.png) no-repeat 0 0;
	width: 21px;
	height: 16px;
}
.curtain-left {
	background: url(../img/curtain-left.png) no-repeat 0 0;
	width: 8px;
	height: 18px;
}
.curtain-right {
	background: url(../img/curtain-right.png) no-repeat 0 0;
	width: 8px;
	height: 18px;
}
.arrow-left-21x10 {
	background: url(../img/arrow-left-21x10.png) no-repeat 0 0;
	width: 21px;
	height: 10px;
}
.icon-video-white {
	background: url(../img/icon-video-white.png) no-repeat 0 0;
	width: 107px;
	height: 107px;
}
.plus-21x23 {
	background: url(../img/plus-21x23.png) no-repeat 0 0;
	width: 21px;
	height: 23px;
}
.minus-21-3 {
	background: url(../img/minus-21-3.png) no-repeat 0 0;
	width: 21px;
	height: 3px;
}
.select-arrow-12x9 {
	background: url(../img/select-arrow-12x9.png) no-repeat 0 0;
	width: 12px;
	height: 9px;
}
.checkbox-35x27 {
	background: url(../img/checkbox-35x27.png) no-repeat 0 0;
	width: 35px;
	height: 27px;
}
.icon-schedule-26x26 {
	background: url(../img/icon-schedule-26x26.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
}
.zoom-23x23 {
	background: url(../img/zoom-23x23.png) no-repeat 0 0;
	width: 23px;
	height: 23px;
}
.icon-home-28x28 {
	background: url(../img/icon-home-28x28.png) no-repeat 0 0;
	width: 28px;
	height: 28px;
}
.icon {
	display: inline-block;
	vertical-align: middle;
	background-size: 100% auto;
}